<h1>Comentarios</h1>
<button class="boton"><a href="index.html">volver pagina de inicio</a></button>
{{#each comentarios}}
    <h1>Nombre:{{this.nombre}} Apellido:{{this.apellido}}</h1>
    
    <h1>Comentario: {{this.comentario}}</h1>
  {{/each}}
